//     __  ___________
//    / /_<  / __/ __ \      ___ _      ___      __
//   / //_/ / /_/ / / /_____/ _ \ | /| / / | /| / /
//  / ,< / / __/ /_/ /_____/  __/ |/ |/ /| |/ |/ /
// /_/|_/_/_/  \____/      \___/|__/|__/ |__/|__/
//

.clock-widget {
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    padding: 0 4px;

    .clock-time {
        color: $fg;
    }
}

.date-widget {
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0 4px;

    .date-time {
        color: $fg;
    }
}
