* {
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
}

window#waybar {
    background-color: #101840;
    border-bottom: none;
    color: #e0e0e8;
}

#clock {
    padding-left: 4px;
    padding-right: 4px;
}

#network {
    padding-left: 4px;
    padding-right: 4px;
}

#cpu {
    padding-left: 4px;
    padding-right: 4px;
}

#memory {
    padding-left: 4px;
    padding-right: 4px;
}
