[Unit]
Description=Gamescope Steam Session

[Service]
Type=simple
Environment="XKBLAYOUT=at"
Environment="XKBVARIANT=nodeadkeys"
Environment="XKB_DEFAULT_LAYOUT=at"
Environment="XKB_DEFAULT_VARIANT=nodeadkeys"
ExecStart=/usr/bin/gamescope -w 2560 -h 1440 --steam --expose-wayland --immediate-flips --adaptive-sync --rt
Restart=always

[Install]
WantedBy=default.target
