[Unit]
Description=Gamescope Steam Session

[Service]
Type=simple
Environment="XKBLAYOUT=us"
Environment="XKB_DEFAULT_LAYOUT=us"
ExecStart=/usr/bin/gamescope -w 2560 -h 1440 -e --force-grab-cursor --adaptive-sync
Restart=always

[Install]
WantedBy=default.target
