.clock {
    background-color: rgba($fg, 0.1);
    padding: 14px;
    font-family: "Open Sans";
    .clock-time {
        color: $fg;
        font-size : 24px;
        font-weight: bold;
    }
    .clock-date {
        color: $fg;
        font-size : 14px;
    }
}
