@import "./widgets/datetime.scss";
@import "./widgets/battery.scss";
@import "./widgets/wifi.scss";
@import "./widgets/workspaces.scss";

.bar_class {
    background-color: rgba($bg, 0.85);
}

.center_modules {
    margin: 0 8px;
}

.right_modules {
    margin: 0 8px;
}

.left_modules {
    margin: 0 8px;
}
