.battery-widget {
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0 4px;

    .battery-text {
        color: $fg;
    }
    .battery-icon {
        color: $fg;
        margin-right: 2px;
    }
}
