.ether-widget {
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    padding: 0 4px;

    .ether-text {
        color: $fg;
        margin-left: 2px;
    }
    .ether-icon {
        color: $fg;
        margin-right: 2px;
    }
}
