.hyprland-widget {
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0 4px;

    .hyprland-workspace-entry {
        color: $act;
        margin: 0 2px;
    }

    .hyprland-current {
        color: $fg;
    }
}
