.openrazer-mouse-widget {
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0 4px;

    .openrazer-mouse-text {
        color: $fg;
        margin-left: 2px;
    }
    .openrazer-mouse-icon {
        color: $fg;
        margin-right: 2px;
    }
}
