.wifi-widget {
    border-radius: 0px;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 0 4px;

    .wifi-text {
        color: $fg;
    }
    .wifi-icon {
        color: $fg;
        margin-right: 4px;
    }
}
