//     __  ___________
//    / /_<  / __/ __ \      ___ _      ___      __
//   / //_/ / /_/ / / /_____/ _ \ | /| / / | /| / /
//  / ,< / / __/ /_/ /_____/  __/ |/ |/ /| |/ |/ /
// /_/|_/_/_/  \____/      \___/|__/|__/ |__/|__/
//

// dynamic colors
$fg: #000000;
$bg: #000000;
$nrm: #000000;
$act: #000000;
$urg: #000000;
