@import "./widgets/clock.scss";
@import "./widgets/music.scss";
@import "./widgets/system.scss";
@import "./widgets/volume.scss";
@import "./widgets/calendar.scss";

.dash_class {
    background-color: rgba($bg, 0.9);
    padding: 14px;
    border-radius: 0px 0px 16px 0px;
}
