//                _____       __  ___________
//    _________  / __(_)     / /_<  / __/ __ \
//   / ___/ __ \/ /_/ /_____/ //_/ / /_/ / / /
//  / /  / /_/ / __/ /_____/ ,< / / __/ /_/ / 
// /_/   \____/_/ /_/     /_/|_/_/_/  \____/

* {
	nrm:			#8B7E74;
	fg:				#D3CCC5;
	bg:				#0A100F;
	opq-bg:			#0A100FEE;
}
