[colors]
cursor = { text = "#FFFFFF", cursor = "#FFFFFF" }
selection = { text = "#FFFFFF", background = "#000000" }

[colors.primary]
foreground = "#ffffff"
background = "#ffffff"

[colors.normal]
black = "#ffffff"
red = "#ffffff"
green = "#ffffff"
yellow = "#ffffff"
blue = "#ffffff"
magenta = "#ffffff"
cyan = "#ffffff"
white = "#ffffff"

[colors.bright]
black = "#ffffff"
red = "#ffffff"
green = "#ffffff"
yellow = "#ffffff"
blue = "#ffffff"
magenta = "#ffffff"
cyan = "#ffffff"
white = "#ffffff"
